/*SIDEBAR*/
.sidebar {
    width: 20rem;
    height: 100vh;
    background: #212529;
    color: #fff;
}
.sidebar .sidebar-header {
    padding: 1.2rem;
}
.sidebar ul.components {
    padding: 0 0 1rem ;
    list-style: none;
}
.sidebar ul.components a {
    padding-left: 1.3rem;
    font-size: 1.4rem;
}
.sidebar ul li a {
    display: block;
    padding: 10px;
    font-size: 1.1em;
    cursor: pointer;
}
.sidebar ul li a:hover {
    background: #dc3545;
    color: white;
}
.admin-users-button {
    text-decoration: none;
    color: white;
}
.users-meals-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/*USERS TABLE*/
.users-table-container,
.meals-table-container {
    margin: 0 auto;
    width: 50%;
}
.admin-users-table,
.admin-meals-table {
    margin-top: 20%;
}
.user-meals-table-container {
    margin: 0 auto;
    width: 50%;
}
.edit-users-table-header,
.edit-meals-table-header{
    width: 15%;
    height: 3rem;
}

/*MEALS TABLE*/
.edit-meals-table-header {
    width: 15%;
    height: 3rem;
}

.edit-users-buttons{
    display: flex;
    justify-content: space-between;
    width: 20rem;
    border: none;
}
.edit-meals-buttons {
    display: flex;
    justify-content: space-between;
    width: 10rem;
}
.admin-table-row-user,
.admin-table-row-meals {
    border-width: thin;
}
.hidden {
    display: none;
}
.visible {
    display: block;
}
/*EDIT USER MODAL*/
.edit-user-modal-content {
    margin: auto;
    padding: 20px;
    width: 30%;
    background-color: #fefefe;
    border: 1px solid #888;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
