/*SIDEBAR*/
.sidebar {
    width: 20rem;
    height: 100vh;
    background: #212529;
    color: #fff;
}
.sidebar .sidebar-header {
    padding: 1.2rem;
}
.sidebar ul.components {
    padding: 0 0 1rem ;
    list-style: none;
}
.sidebar ul.components a {
    padding-left: 1.3rem;
    font-size: 1.4rem;
}
.sidebar ul li a {
    display: block;
    padding: 10px;
    font-size: 1.1em;
    cursor: pointer;
}
.sidebar ul li a:hover {
    background: #dc3545;
    color: white;
}
.admin-users-button {
    text-decoration: none;
    color: white;
}
.users-meals-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/*USERS TABLE*/
.users-table-container,
.meals-table-container {
    margin: 0 auto;
    width: 50%;
}
.admin-meals-table,
.admin-users-table {
    margin-top: 10rem;
}
.user-meals-table-container {
    margin: 0 auto;
    width: 50%;
}
.edit-users-table-header,
.edit-meals-table-header{
    width: 15%;
    height: 3rem;
}


/*MEALS TABLE*/
.edit-meals-table-header {
    width: 15%;
    height: 3rem;
}

.edit-users-buttons{
    display: flex;
    justify-content: space-between;
    width: 15rem;
    border: none;
}
.edit-meals-buttons {
    display: flex;
    justify-content: space-between;
    width: 10rem;
}
.admin-table-row-user,
.admin-table-row-meals {
    border-width: thin;
}
.hidden {
    display: none;
}
.visible {
    display: block;
}
/*EDIT USER MODAL*/
.edit-user-modal-content {
    margin: auto;
    padding: 20px;
    width: 30%;
    background-color: #fefefe;
    border: 1px solid #888;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
.user-edit-success-message {
    transform: translateY(10rem);
}
.edit-meals-success-message {
    transform: translateY(10rem);
}
/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/*USER SEARCH INPUT*/

.search-bar {
    display: flex;
}
.search-bar input,
.search-btn,
.search-btn:before,
.search-btn:after {
    transition: all 0.25s ease-out;
}
.search-bar input,
.search-btn {
    width: 3em;
    height: 3em;
}
.search-bar input:invalid:not(:focus),
.search-btn {
    cursor: pointer;
}
.search-bar,
.search-bar input:focus,
.search-bar input:valid  {
    width: 100%;
}
.search-bar input:focus,
.search-bar input:not(:focus) + .search-btn:focus {
    outline: transparent;
}
.search-bar {
    margin: 6rem auto auto;
    padding: 1.5em;
    justify-content: center;
    max-width: 30em;
}
.search-bar input {
    background: transparent;
    border-radius: 1.5em;
    box-shadow: 0 0 0 0.4em #171717 inset;
    padding: 0.75em;
    transform: translate(0.5em,0.5em) scale(0.5);
    transform-origin: 100% 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.search-bar input::-webkit-search-decoration {
    -webkit-appearance: none;
}
.search-bar input:focus,
.search-bar input:valid {
    background: #fff;
    border-radius: 0.375em 0 0 0.375em;
    box-shadow: 0 0 0 0.1em #d9d9d9 inset;
    transform: scale(1);
}
.search-btn {
    background: #171717;
    border-radius: 0 0.75em 0.75em 0 / 0 1.5em 1.5em 0;
    padding: 0.75em;
    position: relative;
    transform: translate(0.25em,0.25em) rotate(45deg) scale(0.25,0.125);
    transform-origin: 0 50%;
}
.search-btn:before,
.search-btn:after {
    content: "";
    display: block;
    opacity: 0;
    position: absolute;
}
.search-btn:before {
    border-radius: 50%;
    box-shadow: 0 0 0 0.2em #f1f1f1 inset;
    top: 0.75em;
    left: 0.75em;
    width: 1.2em;
    height: 1.2em;
}
.search-btn:after {
    background: #f1f1f1;
    border-radius: 0 0.25em 0.25em 0;
    top: 51%;
    left: 51%;
    width: 0.75em;
    height: 0.25em;
    transform: translate(0.2em,0) rotate(45deg);
    transform-origin: 0 50%;
}
.search-btn span {
    display: inline-block;
    overflow: hidden;
    width: 1px;
    height: 1px;
}

/* Active state */
.search-bar input:focus + .search-btn,
.search-bar input:valid + .search-btn {
    background: #2762f3;
    border-radius: 0 0.375em 0.375em 0;
    transform: scale(1);
}
.search-bar input:focus + .search-btn:before,
.search-bar input:focus + .search-btn:after,
.search-bar input:valid + .search-btn:before,
.search-bar input:valid + .search-btn:after {
    opacity: 1;
}
.search-bar input:focus + .search-btn:hover,
.search-bar input:valid + .search-btn:hover,
.search-bar input:valid:not(:focus) + .search-btn:focus {
    background: #0c48db;
}
.search-bar input:focus + .search-btn:active,
.search-bar input:valid + .search-btn:active {
    transform: translateY(1px);
}


.cal-sum {
    display: flex;
}
.cal-sum-text {
    margin: auto auto auto 76%;
    padding: 2rem;
    visibility: hidden;
    font-size: 2rem;
    color: #dc3545;
    font-weight: 600;
}
.date-and-time-filter-submit-button, .date-and-time-filter-clear-button {
    margin-top: 1.8rem;
}
.meals-btn-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: auto;
    padding: 2rem;
    width: 50vw;
}
.edit-header {
    width: 15%;
    height: 3rem;
}
.edit-buttons {
    display: flex;
    justify-content: space-between;
    width: 15rem;
}
.modal {
    display: none;
    position: fixed;
    padding-top: 15rem;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content */
.modal-content {
    margin: auto;
    padding: 20px;
    width: 30%;
    border: 1px solid #888;
    background-color: #fefefe;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    z-index: 1;
}
/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    width: 100%;
    align-self: end;
    font-size: 2rem;
    font-weight: bold;
    color: #aaaaaa;
}

.close:hover,
.close:focus {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}
.meals-table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
}
.pagination-buttons {
    display: flex;
    justify-content: space-between;
}
.meals {
    width: 100%;
    box-shadow: 3px 3px 3px 3px #888888;
}
.add-meal-button-container {
    display: flex;
    justify-content: center;
}
.filter-buttons {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}
.last-week-filter-button,
.last-month-filter-button {
    margin: auto;
    background: #dc3545;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.filter-meal-form {
    margin: 5rem auto auto;
    padding: 2rem;
    padding-bottom: 0.5rem;
    width: 20%;
    box-shadow: 3px 3px 3px 3px #888888;
    border-radius: 5px;
}
.page-container {
    display: flex;
}
.all-meals {
    margin: 5rem auto auto;
    width: 50%;
}
.date-filter-submit-button {
    margin-top: 1rem;
}
.delete-modal-content {
    width:25rem;
}
.delete-modal-buttons {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}
.date-time-error-alert {
    margin-top: 2rem;
}
.delete-meal-err-list {
    transform: translateY(1rem);
}
.edit-meals-buttons {
    display: flex;
    justify-content: space-between;
    width: 10rem;
}

@media only screen and (max-width: 1024px) {
        .page-container {
            flex-direction: column;
        }
        .all-meals {
            width: 100%;
        }
        .filter-meal-form {
            width: 50%;
        }
        .modal-content {
            width: 70%;
        }

}
@media only screen and (max-width: 576px) {
    .modal-content {
        width: 100%;
    }
    .filter-meal-form {
        width: 100%;
    }
}

.custom-header-container {
    min-width: 100%;
    padding: 0;
}
.navbar {
    display: flex;
    justify-content: space-between;
    min-width: 100%;
    padding: 0.6rem;
    height: 6rem;
    background: #212529;
}
.logo {
    text-align: center;
    padding-left: 3rem;
    color: #dc3545;
    font-size: 3rem;
    font-weight: 600;
    cursor: pointer;
}
.welcome {
    display: flex;
    justify-content: space-between;
    padding-right: 1rem;
    width: 18rem;
}
.welcome-name {
    padding-top: 0.7rem;
    font-size: 1.5rem;
    color: white;
}
.auth-buttons {
    display: flex;
    justify-content: space-between;
    width: 15rem;
    padding-right: 1rem;
}
.welcome-register-btn {
    background-color: #000000;
}
.drop-btn {
    margin-right: 2rem;
    padding: 16px;
    background-color: #dc3545;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    right: 2rem;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border-radius: 2px;
    z-index: 1;
}
.dropdown-content a {
    display: block;
    padding: 12px 16px;
    height: 3rem;
    color: black;
    text-decoration: none;
}
.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .drop-btn {
    background-color: #dc3545;
    border-radius: 2px;
}
.logout-btn {
    width: 100%;
    padding: 12px 16px;
    height: 3rem;
    text-align: left;
    text-decoration: none;
    border: none;
    background: #f9f9f9;
    color: black;
}
.logout-btn:hover {
    background-color: #f1f1f1;
}
.form-logout:hover {
    background-color: #f1f1f1;
}
@media only screen and (max-width: 768px) {
    .welcome-login-btn {
        display: none;
    }
    .auth-buttons {
        justify-content: right;
    }
    .welcome-register-btn {
        background-color: #bb2d3b;
    }
}

@media only screen and (max-width: 576px) {
    .welcome-register-btn {
        display: none;
    }
    .login-form {
        background-color: #ffffff;
    }
}

body {
    background: #ffffff;
}
.save_form_errList {
    width: 30rem;
}
.custom-body-container {
    display: flex;
    padding: 0;
}
td {
    text-align: center;
}
th {
    text-align: center;
}
tr {
    border: 1px solid black;

}
h4 {
    font-size: 1.17em;
    font-weight: bold;
}
h3 {
    font-size: 1.30em;
    font-weight: 600;
}
.reg-form-buttons {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    padding: 0;
    width: 100%;
}
.logo-link {
    text-decoration: none;
}
tbody {
    border: 1px solid black;
}


.chartCard {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    /*height: 30rem;*/
    margin: 3rem auto auto;
    background: rgba(255, 26, 104, 0.2);
}
.chartBox {
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    border: solid 3px rgba(255, 26, 104, 1);
    background: white;
}
.chart-buttons {

    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 10rem;
}

.login-form-wrapper {
    position: relative;
    margin: 5rem auto auto;
    max-width: 30rem;
    background-color: rgba(254, 242, 231, 0.92);
    border-radius: 10px;
}
.login-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10rem auto auto;
    padding: 1.5rem 1.5rem 0.5rem;
    max-width: 30rem;
    border-radius: 10px;
    box-shadow: hsl(0, 0%, 0%) 0 5px 15px;
}
.login-title {
    padding: 0.2rem 0;
    text-align: center;
    font-weight: 700;
    font-size: 1.5rem;
}
.login-logo {
    margin: 3rem auto auto;
    text-align: center;
    font-size: 3rem;
}
.login-form label {
    padding: 0.5rem 0;
    font-weight: 600;
}
.btn-sign-up {
    margin: 0;
    background: transparent;
    border: none;
    color: black;
    font-weight: 600;
    font-size: 1.3rem;
    text-decoration: none;
}
.btn-sign-up:hover {
    background: none;
    color: #127e00;
    border: none;
}
.login-buttons {
    display: flex;
    justify-content: space-between;
    padding-top: 0.7rem;
}



.register-title {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
}
.reg-form {
    display: flex;
    flex-direction: row ;
    flex-wrap: wrap;
    margin: 10rem auto;
    padding: 1.5rem 1.5rem 0;
    max-width: 40rem;
    border-radius: 10px;
    background-color: rgba(234, 230, 219, 0.92);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.reg-form label {
    padding: 0.5rem 0;
    font-weight: 600;
}
.reg-form-buttons {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    padding: 0;
    width: 100%;
 }
 .btn-reg-login {
    background: transparent;
    border: none;
    color: #dc3545;
    font-weight: 600;
    font-size: 1.1rem;
}
.btn-reg-login:hover {
    background: none;
    color: #da4b59;
    border: none;
}
ul.auth-errors {
    padding-left: 1rem;
    list-style-type: square;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.user-edit-form-container {
    position: relative;
    margin: auto;
    width: 50%;
    min-height: 70%;
}
.user-edit-form {
    display: flex;
    flex-direction: row ;
    flex-wrap: wrap;
    margin: 10rem auto;
    padding: 1.5rem 1.5rem 0;
    max-height: 80%;
    max-width: 40rem;
    border-radius: 10px;
    background-color: rgba(234, 230, 219, 0.92);
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}
.edit-user-success-message {
    margin: auto auto 1rem;
    width: 40rem;
    background-color: #ffa1aa;
}
.user-edit-alert {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
    color: white;
}
.admin-user-edit-error-alert {
    margin: auto;
    list-style: none;
}

