ul.components {
    padding: 0 0 1rem ;
    list-style: none;
}
ul.components a {
    padding: 1.3rem;
    font-size: 1.4rem;
}
.admin-users-button,
.admin-meals-button {
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.admin-users-button:hover,
.admin-meals-button:hover {
    color: black;
}
.admin-meals-or-users-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5rem;
}

.admin-edit-meals-buttons {
    display: flex;
    justify-content: space-between;
}
/*USERS TABLE*/
.users-table-container,
.meals-table-container {
    margin: 0 auto;
    width: 100%;
}
.admin-meals-table,
.admin-users-table {
    margin-top: 2rem;
}
.user-meals-table-container {
    margin: 0 auto;
    width: 50%;
}
.edit-users-table-header,
.edit-meals-table-header{
    width: 15%;
    height: 3rem;
}


/*MEALS TABLE*/
.edit-meals-table-header {
    width: 15%;
    height: 3rem;
}

.edit-users-buttons{
    display: flex;
    justify-content: space-between;
    width: 15rem;
    border: none;
}
.edit-meals-buttons {
    display: flex;
    justify-content: space-between;
}
.admin-table-row-user,
.admin-table-row-meals {
    border-width: thin;
}
.hidden {
    display: none;
}
.visible {
    display: block;
}
/*EDIT USER MODAL*/
.edit-user-modal-content {
    margin: auto;
    padding: 20px;
    width: 30%;
    background-color: #fefefe;
    border: 1px solid #888;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
.user-edit-success-message {

}
.edit-meals-success-message {
    transform: translateY(10rem);
}
/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
@media screen and (max-width: 1200px) {
    .admin-edit-meals-buttons {
        flex-direction: column;
        gap: 0.5rem;
    }
}
@media screen and (max-width: 1050px) {
    .admin-edit-meals-buttons {
        flex-direction: column;
        width: 50%;
        margin: auto;
    }
}






/*MANAGER*/
.manager-users-table {
    margin-top: 8rem;
    width: 70%;
}
.manager-edit-user-buttons {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
.manager-user-button {
    width: 8rem;
}
@media screen and (max-width: 1180px) {
    .manager-edit-user-buttons {
        flex-direction: column;
    }
}
@media screen and (max-width: 1050px) {
    .manager-edit-user-buttons {
        flex-direction: row;
        justify-content: center;
        padding-left: 0;
    }
}

.cal-sum {
    display: flex;
    margin-top: 2rem;
}
.cal-sum-text {
    margin: auto;
    padding: 2rem;
    visibility: hidden;
    font-size: 2rem;
    color: #dc3545;
    font-weight: 600;
}
.responsive-add-meal-button {
    width: 10rem;
    padding-bottom: 1rem;
    margin: auto;
    display: none;
}
.date-and-chart-container {
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.edit-buttons {
    display: flex;
    justify-content: space-between;
    width: 15rem;
}
.modal {
    display: none;
    position: fixed;
    padding-top: 15rem;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content */
.modal-content {
    margin: auto;
    padding: 20px;
    width: 30%;
    border: 1px solid #888;
    background-color: #fefefe;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    z-index: 1;
}
/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    width: 100%;
    align-self: end;
    font-size: 2rem;
    font-weight: bold;
    color: #aaaaaa;
}

.close:hover,
.close:focus {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}
.meals-table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    border-radius: 20px;
    padding: 2rem;
}
.pagination-buttons {
    display: flex;
    justify-content: space-between;
}
.meals {
    width: 70%;
    margin: auto auto 2rem;
    box-shadow: 3px 3px 3px 3px #888888;
}
.home-add-meal-open-modal-button {
    display: flex;
    justify-content: center;
}




.delete-modal-content {
    width:25rem;
}
.delete-modal-buttons {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}

.delete-meal-err-list {
    transform: translateY(1rem);
}
.edit-meals-buttons {
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 1400px) {
    .date-and-chart-container {
        margin-top: 5rem;
        display: flex;
        flex-direction: column;
        gap: 5rem;
    }
    .modal-content {
        width: 50%;
    }
}
@media only screen and (max-width: 920px) {
    .modal-content {
        width: 70%;
    }
}
@media only screen and (max-width: 768px) {
    .modal-content {
        width: 70%;
    }
}
@media only screen and (max-width: 576px) {
    .modal-content {
        width: 90%;
    }
}

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: auto;
    padding: 0;
    width: 80%;
    table-layout: fixed;
    box-shadow: 3px 3px 3px 3px #888888;
}

table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}
table tr {
    background-color: #fff;
    border: 1px solid #e1e5e9;
    padding: .35em;
    border-radius: 3px;
}
table thead tr:first-child {
    border: 1px solid #212529;
}
table th {
    padding: 1.625em;
    text-align: center;
    color: #9da9b9;
    font-size: 14px;
}
table td {
    padding: 1rem;
    text-align: center;
    color: #9da9b9;
    font-size: 14px;
    word-break: break-word;
}

table td:nth-child(4) {
    font-size: 18px;
}

table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
    background: #212529;
    color: #FFF;
}

table tbody tr td .btn-invoice {
    background: #212529;
    color: #FFF;
    font-size: 13px;
    padding: 10px 20px;
    border: 0;
    font-family: cursive;
}

tbody tr:nth-child(even) {
    background-color: #eee;
}

tbody tr:nth-child(odd) {
    background-color: #fff;
}
.id-table-home-header {
    width: 3rem;
    padding: 1rem 1rem 1rem 0.5rem;
    word-break: unset;
    align-content: center;
}
.home-edit-meals-buttons {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}
.edit-meal-open-btn,
.delete-meal-open-btn {
    min-width: 45%;
}
.add-meal-open-modal {
    width: 10rem;
}
@media screen and (max-width: 1500px) {
    .home-edit-meals-buttons {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
@media screen and (max-width: 1048px) {
    table {
        border: 0;
    }
    table caption {
        font-size: 1.3em;
    }
    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        position: absolute;
        width: 1px;
        padding: 0;
    }

    table tr {
        border-bottom: 3px solid #e1e5e9;
        display: block;
        margin-bottom: .625em;
    }

    table th,
    table td {
        padding: 0.625em;
    }

    table td {
        border-bottom: 1px solid #e1e5e9;
        display: block;
        font-size: .8em;
        text-align: right;
        color: #9da9b9;
    }

    table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
        color: #656971;
    }

    table td:last-child {
        border-bottom: 0;
    }

    table td:nth-child(4) {
        font-size: 0.8em;
    }
    .home-edit-meals-buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: auto;
        padding-left: 0;
    }
    .edit-meal-open-btn,
    .delete-meal-open-btn {
       margin: auto ;
    }
    .dropdown {
        width: 136px;
    }
    .welcome-name {
        display: none;
    }
    .id-table-home-header {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    table {
        width: 100%;
        padding: 1rem;
    }
    .meals-table {
        padding: 1rem;
    }
}

.date-and-time-filter-submit-button,
.date-and-time-filter-clear-button {
    margin-top: 1.8rem;
}
.filter-week-month-container {
    display: flex;
    justify-content: space-between;
    padding: 0 0 1rem;
}
.filter-meal-form {
    margin-left: 2rem;
    padding: 2rem 2rem 0.5rem;
    width: 73%;
    max-height: 30rem;
    box-shadow: 3px 3px 3px 3px #888888;
    border-radius: 5px;
}
.date-and-time-filter-submit-container {
    display: flex;
    justify-content: space-between;
}
.filter-buttons {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}
.date-filter-submit-button {
    margin-top: 1rem;
}
.date-time-error-alert {
    margin-top: 2rem;
}
.last-week-filter-button,
.last-month-filter-button {
    background: #dc3545;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
@media only screen and (max-width: 1400px) {
    .filter-meal-form {
        margin: auto;
        width: 75%;
    }
    .date-time-error-alert {
        margin-top: 9px;
        padding: 9px;
    }
}
@media only screen and (max-width: 920px) {
    .filter-meal-form {
        width: 74%;
    }
    .date-time-error-alert {
        margin-top: 9px;
        padding: 9px;
    }

}

@media only screen and (max-width: 768px) {
    .filter-meal-form{
        width: 95%;
    }
    .date-time-error-alert {
        margin-top: 9px;
        padding: 9px;
    }
}
@media only screen and (max-width: 576px) {
    .chart-form {
        display: flex;
        flex-direction: column;
    }
    .date-time-error-alert {
        margin-top: 9px;
        padding: 9px;
    }
}

.navbar {
    display: flex;
    justify-content: space-between;
    min-height: 6rem;
    background: #212529;
}
.logo {
    text-align: center;
    padding-left: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 0;
    color: #dc3545;
    font-size: 3rem;
    font-weight: 600;
    cursor: pointer;
}
.auth-buttons {
    display: flex;
    justify-content: space-between;
    width: 15rem;
    padding-right: 1rem;
}

/*HOME NAVBAR*/
.nav-bar {
    vertical-align: center;
    height: 6rem;
    background: #262626;
}

.brand {
    float: left;
    line-height: 70px;
    text-transform: uppercase;
    font-size: 1.4em;
    height: 100%;
}
nav {
    float: right;

}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    float: left;
    position: relative;
}
nav ul li a,
nav ul li a:visited {
    display: block;
    padding: 10px 1.5rem;
    font-size: 1.5rem;
    line-height: 70px;
    background: #212529;
    color: #ffffff;
    text-decoration: none;
}
.logout-button {
    display: block;
    width: 100%;
    font-size: 1.5rem;
    padding-left: 15px;
    height: 50px;
    text-align: left;
    background: #212529;
    color: #ffffff;
    text-decoration: none;
    border: none;
}
nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
    padding-left: 4px;
    content: ' ▾';
}
nav ul li ul li {
    min-width: 190px;
}
nav ul li ul li a {
    padding: 15px;
    line-height: 20px;
}
.nav-dropdown {
    position: absolute;
    display: none;
    z-index: 1;
    margin-top: 6px;
}
.nav-mobile {
    display: none;
    position: absolute;
    margin-top: 20px;
    top: 0;
    right: 0;
    background: #262626;
    height: 70px;
    width: 70px;
}

@media only screen and (max-width: 798px) {
    .nav-mobile {
        display: block;
    }

    nav {
        width: 100%;
        padding: 0;
    }
    nav ul {
        display: none;
    }
    nav ul li {
        float: none;
    }
    nav ul li a {
        line-height: 20px;
        padding: 1.5rem 1.5rem 1.5rem 3rem;

    }
    nav ul li ul li a {
        padding-left: 3rem;
    }

    .nav-dropdown {
        position: static;
        margin-top: 0;
    }
    .logout-button {
    padding-left: 3rem ;
    }
    }
@media screen and (min-width: 799px) {
    .nav-list {
        display: block !important;
    }
}
#nav-toggle {
    position: absolute;
    left: 18px;
    top: 22px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: #ffffff;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
    top: -10px;
}
#nav-toggle span:after {
    bottom: -10px;
}
#nav-toggle.active span {
    background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
    top: 0;
}
#nav-toggle.active span:before {
    transform: rotate(45deg);
}
#nav-toggle.active span:after {
    transform: rotate(-45deg);
}

article {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
}

@media only screen and (max-width: 470px) {
    .logo {
        padding-top: 27px;
        font-size: 2rem;
    }
}

body {
    background: #ffffff;
}
.save_form_errList {
    width: 30rem;
}
.custom-body-container {
    display: flex;
    padding: 0;
}
/*td {*/
/*    text-align: center;*/
/*}*/
/*th {*/
/*    text-align: center;*/
/*}*/
/*tr {*/
/*    border: 1px solid black;*/

/*}*/
h4 {
    font-size: 1.17em;
    font-weight: bold;
}
h3 {
    font-size: 1.30em;
    font-weight: 600;
}
.reg-form-buttons {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    padding: 0;
    width: 100%;
}
.logo-link {
    text-decoration: none;
}
a:hover {
    color: white;
}
li, a, i, span {
    font-size       : inherit;
    text-decoration : none;
    color           : inherit;
}
.page-link {
    height: 1rem;
}


.chart-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 2rem;
    width: 100%;
    max-height: 70%;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 3px #888888;
}
.chart-form {
    margin-top: 1rem;
}
.chartBox {
    width: 100%;
    height: 100%;
    border: solid 1px #212529;
    background: #212529;
}
.chart-buttons {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 10rem;
}
@media only screen and (max-width: 1400px) {
    .chart-card {margin: auto;
       width: 74%;
    }
}
@media only screen and (max-width: 920px) {
    .chart-card {
        width: 74%;
    }
}
@media only screen and (max-width: 768px) {
    .chart-card {
        width: 95%;
    }
}
@media only screen and (max-width: 576px) {
    .chart-form {
        display: flex;
        flex-direction: column;
        width: 80%;
    }
    .chart-buttons {
        width: 100%;
    }
}

.login-form-wrapper {
    position: relative;
    margin: 5rem auto auto;
    max-width: 30rem;
    background-color: rgba(255, 255, 255, 0.92);
    border-radius: 10px;
}
.login-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10rem auto auto;
    padding: 1.5rem 1.5rem 0.5rem;
    max-width: 30rem;
    border-radius: 10px;
    box-shadow: hsl(0, 0%, 0%) 0 5px 15px;
}
.login-title {
    padding: 0.2rem 0;
    text-align: center;
    font-weight: 700;
    font-size: 1.5rem;
}
.login-logo {
    margin: 3rem auto auto;
    text-align: center;
    font-size: 3rem;
}
.login-form label {
    padding: 0.5rem 0;
    font-weight: 600;
}
.btn-sign-up {
    margin: 0;
    background: transparent;
    border: none;
    color: black;
    font-weight: 600;
    font-size: 1.3rem;
    text-decoration: none;
}
.btn-sign-up:hover {
    background: none;
    color: #127e00;
    border: none;
}
.login-buttons {
    display: flex;
    justify-content: space-between;
    padding-top: 0.7rem;
}
@media screen and (max-width: 800px) {
    .welcome-login-btn {
        display: none;
    }
    .welcome-register-btn {
        display: none;
    }
    .brand {
        margin: auto;
    }
    .logo {
        padding-left: 0;
    }
}



.register-title {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
}
.reg-form {
    display: flex;
    flex-direction: row ;
    flex-wrap: wrap;
    margin: 10rem auto;
    padding: 1.5rem 1.5rem 0;
    max-width: 40rem;
    border-radius: 10px;
    background-color: rgba(234, 230, 219, 0.92);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.reg-form label {
    padding: 0.5rem 0;
    font-weight: 600;
}
.reg-form-buttons {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    padding: 0;
    width: 100%;
 }
 .btn-reg-login {
    background: transparent;
    border: none;
    color: #dc3545;
    font-weight: 600;
    font-size: 1.1rem;
}
.btn-reg-login:hover {
    background: none;
    color: #da4b59;
    border: none;
}
ul.auth-errors {
    padding-left: 1rem;
    list-style-type: square;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.user-edit-form {
    display: flex;
    flex-direction: row ;
    flex-wrap: wrap;
    margin: 10rem auto;
    padding: 1.5rem 1.5rem 0;
    max-height: 80%;
    max-width: 40rem;
    border-radius: 10px;
    background-color: rgba(234, 230, 219, 0.92);
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}
.edit-user-success-message {
    margin: auto auto 1rem;
    width: 40rem;
    background-color: #ffa1aa;
}
.user-edit-alert {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
    color: white;
}
.admin-user-edit-error-alert {
    margin: auto;
    list-style: none;
}

/*@media (max-width: 576px) {*/

/*}*/

/*@media (max-width: 768px) {*/

/*}*/

/*@media (max-width: 992px) {*/

/*}*/

/*@media (max-width: 1200px) {*/

/*}*/

/*@media (max-width: 1400px) {*/

/*}*/

