.navbar {
    display: flex;
    justify-content: space-between;
    min-width: 100%;
    padding: 0.6rem;
    height: 6rem;
    background: #212529;
}
.logo {
    padding-left: 3rem;
    color: #dc3545;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}
.welcome {
    display: flex;
    justify-content: space-between;
    padding-right: 1rem;
    width: 25rem;
}
.welcome-name {
    color: white;
    padding-top: 0.7rem;
    font-size: 1.5rem;

}
.auth-buttons {
    display: flex;
    justify-content: space-between;
    width: 15%;
    padding-right: 1rem;
}
.welcome-login-btn {

}
.welcome-register-btn {
    background-color: #000000;
}
.settings-icon {
    color: white;
    font-size:24px;
    cursor: pointer;
    padding-top: 14px;
    margin-right: 30px;
    text-decoration: none;
}


