.cal-sum {
    display: flex;
}
.cal-sum-text {
    visibility: hidden;
    font-size: 2rem;
    margin: auto auto auto 76%;
    padding: 2rem;
    color: #dc3545;
    font-weight: 600;
}
.date-and-time-filter-submit-button, .date-and-time-filter-clear-button {
    margin-top: 20px;
}
.meals-btn-container {
    display: flex;
    justify-content: center;
    padding: 2rem;
    gap: 2rem;
    width: 50vw;
    margin: auto;
}
.edit-header {
    width: 15%;
    height: 3rem;
}
.edit-buttons {
    display: flex;
    justify-content: space-between;
    width: 10rem;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 15rem;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    width: 100%;
    color: #aaaaaa;
    font-size: 2rem;
    font-weight: bold;
    align-self: end;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.meals-table {
    display: flex;
    justify-content: center;
    border-radius: 20px;
}
.meals {
    width: 100%;
    box-shadow: 3px 3px 3px 3px #888888;
}

.add-meal-button-container {
    display: flex;
    justify-content: center;
}

.filter-buttons {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}

.last-week-filter-button,
.last-month-filter-button {
    margin: auto;
    cursor: pointer;
    background: #dc3545;
    border-radius: 5px;
    color: white;
}

.filter-meal-form {
    padding: 2rem;
    width: 20%;
    margin: 5rem auto auto;
    box-shadow: 3px 3px 3px 3px #888888;
    border-radius: 5px;
}
.page-container {
    display: flex;
}
.all-meals {
    margin: auto;
    width: 50%;
}
.date-filter-submit-button {
    margin-top: 1rem;
}
