ul.components {
    padding: 0 0 1rem ;
    list-style: none;
}
ul.components a {
    padding: 1.3rem;
    font-size: 1.4rem;
}
.admin-users-button,
.admin-meals-button {
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.admin-users-button:hover,
.admin-meals-button:hover {
    color: black;
}
.admin-meals-or-users-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5rem;
}

.admin-edit-meals-buttons {
    display: flex;
    justify-content: space-between;
}
/*USERS TABLE*/
.users-table-container,
.meals-table-container {
    margin: 0 auto;
    width: 100%;
}
.admin-meals-table,
.admin-users-table {
    margin-top: 2rem;
}
.user-meals-table-container {
    margin: 0 auto;
    width: 50%;
}
.edit-users-table-header,
.edit-meals-table-header{
    width: 15%;
    height: 3rem;
}


/*MEALS TABLE*/
.edit-meals-table-header {
    width: 15%;
    height: 3rem;
}

.edit-users-buttons{
    display: flex;
    justify-content: space-between;
    width: 15rem;
    border: none;
}
.edit-meals-buttons {
    display: flex;
    justify-content: space-between;
}
.admin-table-row-user,
.admin-table-row-meals {
    border-width: thin;
}
.hidden {
    display: none;
}
.visible {
    display: block;
}
/*EDIT USER MODAL*/
.edit-user-modal-content {
    margin: auto;
    padding: 20px;
    width: 30%;
    background-color: #fefefe;
    border: 1px solid #888;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
.user-edit-success-message {

}
.edit-meals-success-message {
    transform: translateY(10rem);
}
/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
@media screen and (max-width: 1200px) {
    .admin-edit-meals-buttons {
        flex-direction: column;
        gap: 0.5rem;
    }
}
@media screen and (max-width: 1050px) {
    .admin-edit-meals-buttons {
        flex-direction: column;
        width: 50%;
        margin: auto;
    }
}






/*MANAGER*/
.manager-users-table {
    margin-top: 8rem;
    width: 70%;
}
.manager-edit-user-buttons {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
.manager-user-button {
    width: 8rem;
}
@media screen and (max-width: 1180px) {
    .manager-edit-user-buttons {
        flex-direction: column;
    }
}
@media screen and (max-width: 1050px) {
    .manager-edit-user-buttons {
        flex-direction: row;
        justify-content: center;
        padding-left: 0;
    }
}
