
.chart-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 2rem;
    width: 100%;
    max-height: 70%;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 3px #888888;
}
.chart-form {
    margin-top: 1rem;
}
.chartBox {
    width: 100%;
    height: 100%;
    border: solid 1px #212529;
    background: #212529;
}
.chart-buttons {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 10rem;
}
@media only screen and (max-width: 1400px) {
    .chart-card {margin: auto;
       width: 74%;
    }
}
@media only screen and (max-width: 920px) {
    .chart-card {
        width: 74%;
    }
}
@media only screen and (max-width: 768px) {
    .chart-card {
        width: 95%;
    }
}
@media only screen and (max-width: 576px) {
    .chart-form {
        display: flex;
        flex-direction: column;
        width: 80%;
    }
    .chart-buttons {
        width: 100%;
    }
}
