.cal-sum {
    display: flex;
    margin-top: 2rem;
}
.cal-sum-text {
    margin: auto;
    padding: 2rem;
    visibility: hidden;
    font-size: 2rem;
    color: #dc3545;
    font-weight: 600;
}

.date-and-chart-container {
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.edit-buttons {
    display: flex;
    justify-content: space-between;
    width: 15rem;
}
.modal {
    display: none;
    position: fixed;
    padding-top: 15rem;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content */
.modal-content {
    margin: auto;
    padding: 20px;
    width: 30%;
    border: 1px solid #888;
    background-color: #fefefe;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    z-index: 1;
}
/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    width: 100%;
    align-self: end;
    font-size: 2rem;
    font-weight: bold;
    color: #aaaaaa;
}

.close:hover,
.close:focus {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}
.meals-table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    border-radius: 20px;
    padding: 2rem;
}
.pagination-buttons {
    display: flex;
    justify-content: space-between;
}
.meals {
    width: 70%;
    margin: auto auto 2rem;
    box-shadow: 3px 3px 3px 3px #888888;
}
.add-meal-button-container {
    display: flex;
    justify-content: flex-end;
}





.delete-modal-content {
    width:25rem;
}
.delete-modal-buttons {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}

.delete-meal-err-list {
    transform: translateY(1rem);
}
.edit-meals-buttons {
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 1400px) {
    .date-and-chart-container {
        margin-top: 5rem;
        display: flex;
        flex-direction: column;
        gap: 5rem;
    }
    .modal-content {
        width: 50%;
    }
}
@media only screen and (max-width: 920px) {
    .modal-content {
        width: 70%;
    }
}
@media only screen and (max-width: 768px) {
    .modal-content {
        width: 70%;
    }
}
@media only screen and (max-width: 576px) {
    .modal-content {
        width: 90%;
    }
}
