
.register-title {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
}
.reg-form {
    display: flex;
    flex-direction: row ;
    flex-wrap: wrap;
    margin: 10rem auto;
    padding: 1.5rem 1.5rem 0;
    max-width: 40rem;
    border-radius: 10px;
    background-color: rgba(234, 230, 219, 0.92);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.reg-form label {
    padding: 0.5rem 0;
    font-weight: 600;
}
.reg-form-buttons {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    padding: 0;
    width: 100%;
 }
 .btn-reg-login {
    background: transparent;
    border: none;
    color: #dc3545;
    font-weight: 600;
    font-size: 1.1rem;
}
.btn-reg-login:hover {
    background: none;
    color: #da4b59;
    border: none;
}
ul.auth-errors {
    padding-left: 1rem;
    list-style-type: square;
}
