table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: auto;
    padding: 0;
    width: 80%;
    table-layout: fixed;
    box-shadow: 3px 3px 3px 3px #888888;
}

table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}
table tr {
    background-color: #fff;
    border: 1px solid #e1e5e9;
    padding: .35em;
    border-radius: 3px;
}
table thead tr:first-child {
    border: 1px solid #212529;
}
table th {
    padding: 1.625em;
    text-align: center;
    color: #9da9b9;
    font-size: 14px;
}
table td {
    padding: 1rem;
    text-align: center;
    color: #9da9b9;
    font-size: 14px;
    word-break: break-word;
}

table td:nth-child(4) {
    font-size: 18px;
}

table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
    background: #212529;
    color: #FFF;
}

table tbody tr td .btn-invoice {
    background: #212529;
    color: #FFF;
    font-size: 13px;
    padding: 10px 20px;
    border: 0;
    font-family: cursive;
}

tbody tr:nth-child(even) {
    background-color: #eee;
}

tbody tr:nth-child(odd) {
    background-color: #fff;
}
.id-table-home-header {
    width: 3rem;
    padding: 1rem 1rem 1rem 0.5rem;
    word-break: unset;
    align-content: center;
}
.home-edit-meals-buttons {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}
.edit-meal-open-btn,
.delete-meal-open-btn {
    min-width: 45%;
}
.add-meal-open-modal {
    width: 10rem;
}
@media screen and (max-width: 1500px) {
    .home-edit-meals-buttons {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
@media screen and (max-width: 1048px) {
    table {
        border: 0;
    }
    table caption {
        font-size: 1.3em;
    }
    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        position: absolute;
        width: 1px;
        padding: 0;
    }

    table tr {
        border-bottom: 3px solid #e1e5e9;
        display: block;
        margin-bottom: .625em;
    }

    table th,
    table td {
        padding: 0.625em;
    }

    table td {
        border-bottom: 1px solid #e1e5e9;
        display: block;
        font-size: .8em;
        text-align: right;
        color: #9da9b9;
    }

    table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
        color: #656971;
    }

    table td:last-child {
        border-bottom: 0;
    }

    table td:nth-child(4) {
        font-size: 0.8em;
    }
    .home-edit-meals-buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: auto;
        padding-left: 0;

    }
    .edit-meal-open-btn,
    .delete-meal-open-btn {
       margin: auto ;
    }
    .dropdown {
        width: 136px;
    }
    .welcome-name {
        display: none;
    }
    .id-table-home-header {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    table {
        width: 100%;
        padding: 1rem;
    }
    .meals-table {
        padding: 1rem;
    }
}
